$button_color:#f8f8f8;
$smoke_color: rgb(177, 175, 175);
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    background-color: $button_color;
    border: none;
    cursor: pointer;
    height: 32px;
    min-width: 60px;
    z-index: 1;
}